
#root {
    height: 100%;
    width: 100%;    
}

.App {
    background-image: $app-background;
    width: 40rem;
    height: 60rem;
    @include centerElement;
    margin-top: 30vh;
    border: .3rem groove $appCol-ternary-light-1;
    border-radius: .4rem;
    box-shadow: $shadow;

    @media only screen and (max-width: 500px) {
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }


    header {

        #title {

           @include titleStyle;

            @media only screen and (max-width: 500px) {
                margin-top: 5%; 
            }
        }
    }

    #footer {
        
        @include footerStyle;

        span {
            font-weight: bold;
            color: $appCol-secondary;
        }
    }
}