#timer-display {
    border: .4rem solid #e78d18;
    background-color: #0a6b0f70;
    color: #fff;
    width: 20rem;
    height: 20rem;
    margin-left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    border-radius: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s;

    @media only screen and (max-width: 500px) {
        margin-top: 15%;
        width: 25rem;
        height: 25rem;
    }

    @media only screen and (max-width: 350px) {
        width: 20rem;
        height: 20rem;
        margin-top: 12.5%;
    }


    #timer-label {
        font-size: 3.25rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    #time-left {
        font-size: 4rem;
        margin-top: 1rem;

        @media only screen and (max-width: 500px) {
            font-size: 5rem;
        }

    }
}