#timer-display {
    border: .4rem solid $appCol-ternary-light-1;
    border-radius: 100rem;
    background-color: $appCol-secondary-2;
    color: $col-white;
    width: 20rem;
    height: 20rem;
    margin-top: 10%;
    @include centerElement;
    @include centerFlex;
    flex-direction: column;
    transition: all .4s;

    @media only screen and (max-width: 500px) {
        margin-top: 15%;
        width: 25rem;
        height: 25rem;
    }

    @media only screen and (max-width: 350px) {
        width: 20rem;
        height: 20rem;
        margin-top: 12.5%;
    }


    #timer-label {
        font-size: 3.25rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    #time-left {
        font-size: 4rem;
        margin-top: 1rem;

        @media only screen and (max-width: 500px) {
            font-size: 5rem;
        }

    }
}